@namespace BlazorFileShare.Client.Pages
@page "/connector"

<h1>Connector</h1>
<p>Code</p>
<input type="number" maxlength="4" @bind-value="code" />

<button class="btn btn-primary" @onclick="CreateRoomAsync">Create</button>

<button class="btn btn-primary" @onclick="JoinRoomAsync">Join</button>

<div>
    <input class="form-control" type="text" @bind-value="message">
    <button class="btn btn-primary" @onclick="SendMessage">Test Out Channel</button>
</div>

<div>
    <InputFile id="file-input" Class="d-none" OnChange="async (e)=>await OnFileChange(e, ClientRoomService.Clients[0])"></InputFile>
    <label for="file-input" class="btn btn-primary">Upload</label>
</div>

<p>@ClientRoomService.State</p>
<ol>
    @foreach (var client in ClientRoomService.Clients)
    {
        <o>@client</o>

    }
</ol>