@namespace BlazorFileShare.Client

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">BlazorFileShareClient</a>
    </div>
</nav>