@namespace BlazorFileShare.Client

<nav class="navbar navbar-light bg-white border-bottom fixed-top" style="height: 75px;">
    <div class="container">
        <a class="navbar-brand mx-auto" href="/">Blazor File Share</a>
    </div>
</nav>
