html, body {
    height: 100%;
}

body {
    background-color: #fafafa;
}

.btn, .form-control {
    border-radius: 50rem;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}